* {
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    color: #38454C;
}

h1 {
    text-align: center;
    color: #E9B429;
    font-size: 30px;
    line-height: 28.64px;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 48px;
    line-height: 28.64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: #38454C;
}

hr {
    width: 70%;
    border: none;
    border-top: 1px solid #38454C;
    opacity: 0.4;
    text-align: center;
    margin: auto;
}

.menu {
    color: #38454C;
}

/* Menu */

.menu-1 {
    position: absolute;
    top: 30px; left: 300px;
}

.menu-2 {
    position: absolute;
    top: 30px; right: 300px;
}

li {
    display: inline-block;
}

.boutonmenu {
    display: block;
    width: 110px;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #38454C;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    border-bottom: 2px solid #E9B429;
}

/* Index */

.corps {
    text-align: center;
    color: #38454C;
    margin-bottom: 50px;
}

.corps img {
    display: block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: auto;
}

.textsuperpos {
    position: absolute;
    top: 160px; left: 50%;
    transform: translate(-50%, -50%);
}

/* Contact */



@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.topBefore input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #38454C;
}

.topBefore input::-moz-placeholder, textarea::-moz-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #38454C;
}

.topBefore input::placeholder, textarea::placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::placeholder, textarea::focus:placeholder {
    color: #38454C;
}

.topBefore input::-ms-placeholder, textarea::-ms-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #38454C;
}

/* On hover placeholder */

.topBefore input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: white;
}

.topBefore input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: white;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: white;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: white;
}

#form {
    position: relative;
    width: 500px;
    margin: 80px auto 100px auto;
}

.topBefore input {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #38454C;
    
    border: solid 1px #38454C;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #38454C;
    color: white;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #38454C;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #38454C;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #38454C;
    color: white;
}

#submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    color: #38454C;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #38454C;
    border-top: none;
}

#submit:hover {
    color: white;
}


/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    color: #38454C;
    text-align: center;
}

/* Offres */

.content {
	top:40px;
	padding-bottom:80px;
	position:relative;
}

.formules {	
	border-collapse: separate;
	border-spacing: 10px;
	position:relative;
	margin:auto;
}

.formules h3 {
	text-align:center;
	color: #E9B429;
}

.formules h4 {
	text-align:center;
}

.formules td {
	border : 3px solid black;
	width : 300px;
	height : 350px;
	background-color: #F0EEEE;
	border-radius: 15px;
}

.boutonpermis1 {
	display:block;
	margin:auto;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
	border : 3px solid black;
	border-radius: 15px;
	width:280px;
	height:40px;
	background-color: #F0EEEE;
}

.boutonoffre {
	display:block;
	margin:auto;
	position:relative;
	border : 3px solid black;
	border-radius: 15px;
	width:100px;
	height:40px;
	background-color: #F0EEEE;
}
