* {
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    color: #38454C;
}

h1 {
    text-align: center;
    color: #E9B429;
    font-size: 30px;
    line-height: 28.64px;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 48px;
    line-height: 28.64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: #38454C;
}

hr {
    width: 50%;
    border: none;
    border-top: 1px solid #38454C;
    opacity: 0.4;
    text-align: center;
    margin: auto;
}

/* Menu */

.menu {
    color: #38454C;
}

.menu-1 {
    position: absolute;
    top: 30px; left: 28%;
}

.menu-2 {
    position: absolute;
    top: 30px; right: 28%;
}

li {
    display: inline-block;
}

.boutonmenu {
    display: block;
    width: 110px;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #38454C;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    border-bottom: 2px solid #E9B429;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #38454C;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #38454C;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    border: 0.1em solid #E9B429;
}

@media all and (max-width:30em) {
    a.button1 {
        display:block;
        margin:0.4em auto;
    }
}

/* Logout */

.logout {
    display: block;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #38454C;
    text-decoration: none;
}

.logout img {
    width: 16px;
}

.boutonmenu {
    display: block;
    width: 110px;
    padding: 5px 0;
    text-align: center;
    border: none;
    color: #38454C;
    text-decoration: none;
    margin: 10px;
}

/* Index */

.corps {
    text-align: center;
    color: #38454C;
    margin-bottom: 50px;
    background-image: url(img/19742.jpg);
    background-size: cover;
}

.corps img {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: auto;
}

.textsuperpos {
    position: absolute;
    top: 160px; left: 50%;
    transform: translate(-50%, -50%);
}

/* Contact */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.topBefore input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #38454C;
}

.topBefore input::-moz-placeholder, textarea::-moz-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #38454C;
}

.topBefore input::placeholder, textarea::placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::placeholder, textarea::focus:placeholder {
    color: #38454C;
}

.topBefore input::-ms-placeholder, textarea::-ms-placeholder {
    color: #38454C;
    font-size: 0.875em;
}

.topBefore input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #38454C;
}

/* On hover placeholder */

.topBefore input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: white;
}

.topBefore input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: white;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: white;
}

.topBefore input:hover::placeholder, textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

.topBefore input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: white;
}

#form {
    position: relative;
    width: 500px;
    margin: 80px auto 100px auto;
}

.topBefore input {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #38454C;
    
    border: solid 1px #38454C;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #38454C;
    color: white;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #38454C;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #38454C;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #38454C;
    color: white;
}

#submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    color: #38454C;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #38454C;
    border-top: none;
}

#submit:hover {
    background: #38454C;
    color: white;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    color: #38454C;
    text-align: center;
}

/* Offres */

.content {
	margin-top: 80px;
	padding-bottom:80px;
	position:relative;
}

.formules {	
	border-collapse: separate;
	border-spacing: 10px;
	position:relative;
	margin:auto;
}

.formules h3 {
	text-align:center;
	color: #E9B429;
}

.formules h4 {
	text-align:center;
}

.formules td {
	border: solid 1px #38454C;
	width : 300px;
	height : 350px;
	background-color: transparent;
	border-radius: 15px;
}

.boutonpermis1 {
	display:block;
	margin:auto;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
	border: solid 1px #38454C;
	border-radius: 15px;
	width:280px;
	height:40px;
    background-color: transparent;
    cursor: pointer;
}

.boutonoffre {
	display:block;
	margin:auto;
	position:relative;
	border: solid 1px #38454C;
	border-radius: 15px;
	width:100px;
	height:40px;
    background-color: transparent;
    cursor: pointer;
}

/* Login */

/* Profil */

a.button2 {
    display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
    padding: 0.35em 1.2em;
    border: 0.1em solid #38454C;
    margin: 50px 0 0 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #38454C;
    text-align: center;
    transition: all 0.2s;
}

a.button2:hover {
    border: 0.1em solid #E9B429;
}

@media all and (max-width:30em) {
    a.button2 {
        display:block;
        margin:0.4em auto;
    }
}

/* Login 2 */

.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
    position: relative;
}

.login-html {
	width: 100%;
	height: 100%;
    position: absolute;
    margin-top: 80px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
	display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform: uppercase;
}

.login-html .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
	color: #E9B429;
	border-color:#38454C;
}

.login-form {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.login-form .group {
	margin-bottom: 15px;
}

.login-form .group .input {
    width: 90%;
    color: #38454C;
    background-color: transparent;
    display: block;
    margin: auto;
}

.login-form .group .button {
	width: 90%;
	color: #fff;
    display: block;
    margin: auto;
}

.login-form .group .input {
    border: none;
	padding: 15px 20px;
    border: solid 1px #38454C;
    cursor: text;
}

.login-form .group .button {
	border: none;
	padding: 15px 20px;
    cursor: pointer;

}

.login-form .group input[data-type="password"] {
	text-security: circle;
	-webkit-text-security: circle;
}

.login-form .group .label {
	color: #aaa;
	font-size: 12px;
}

.login-form .group .button {
    background:#38454C;
}

.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: #fff;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #38454C;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.login-form .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
	color: #fff;
}

.login-form .group .check:checked + label .icon {
	background: #38454C;
}

.login-form .group .check:checked + label .icon:before {
	transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
	transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
	transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
	transform: rotate(0);
}